<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="NAZWA STACJI">
    <th mat-header-cell *matHeaderCellDef=> NAZWA STACJI </th>
    <td mat-cell *matCellDef="let element"> {{element.stationName}} </td>
  </ng-container>

  <ng-container matColumnDef="DATA POMIARU">
    <th mat-header-cell *matHeaderCellDef> DATA POMIARU </th>
    <td mat-cell *matCellDef="let element"> {{element.measurementDate}} </td>
  </ng-container>

  <ng-container matColumnDef="POGODA">
    <th mat-header-cell *matHeaderCellDef> POGODA </th>
    <td mat-cell *matCellDef="let element">{{element.result}} </td>
  </ng-container>

  <ng-container matColumnDef="C6H6">
    <th mat-header-cell *matHeaderCellDef> C6H6 </th>
    <td mat-cell *matCellDef="let element"> {{element.C6H6}} </td>
  </ng-container>

  <ng-container matColumnDef="CO">
    <th mat-header-cell *matHeaderCellDef> CO </th>
    <td mat-cell *matCellDef="let element"> {{element.CO}} </td>
  </ng-container>

  <ng-container matColumnDef="NO2">
    <th mat-header-cell *matHeaderCellDef> NO2 </th>
    <td mat-cell *matCellDef="let element"> {{element.NO2}} </td>
  </ng-container>

  <ng-container matColumnDef="O3">
    <th mat-header-cell *matHeaderCellDef> O3 </th>
    <td mat-cell *matCellDef="let element"> {{element.O3}} </td>
  </ng-container>

  <ng-container matColumnDef="PM10">
    <th mat-header-cell *matHeaderCellDef> PM10 </th>
    <td mat-cell *matCellDef="let element"> {{element.PM10}} </td>
  </ng-container>

  <ng-container matColumnDef="PM25">
    <th mat-header-cell *matHeaderCellDef> PM25 </th>
    <td mat-cell *matCellDef="let element"> {{element.PM25}} </td>
  </ng-container>

  <ng-container matColumnDef="SO2">
    <th mat-header-cell *matHeaderCellDef> SO2 </th>
    <td mat-cell *matCellDef="let element"> {{element.SO2}} </td>
  </ng-container>

  <ng-container matColumnDef="WYNIK">
    <th mat-header-cell *matHeaderCellDef> WYNIK </th>
    <td mat-cell *matCellDef="let element" style="background-color:{{element.resultColor}}"> {{element.result}} </td>
  </ng-container>

  <ng-container matColumnDef="KLASA">
    <th mat-header-cell *matHeaderCellDef> KLASA </th>
    <td mat-cell *matCellDef="let element" style="background-color:{{element.realResultColor}}"> {{element.realResult}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
